@use "@lib/packages/design-tokens/breakpoint" as b;

.contact_form {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 1rem;
}

.input_field {
  all: unset;
  display: flex;
  border: none;
  background: #f2f3f8;
  color: var(--textGray);
  padding: 8px 12px;
  border-radius: 4px;
  border: 2px solid #fff;
  font-size: var(--fontSizeSearch);
  transition: all ease-in-out 1s;
}

.right {
  border: 2px solid #fff;
}

.wrong {
  border: 2px solid red;
}

.send_button_container {
  height: 80px;
  display: flex;
  flex-direction: column;

  .toast_container {
    margin-top: 1rem;
  }
}

.submit {
  all: unset;
  height: 1.6rem;
  text-align: center;
  color: #fff;
  opacity: 0.9;
  background: var(--textGray);
  padding: 8px 12px;
  border-radius: 4px;
  font-size: var(--fontSizeSearch);
  cursor: pointer;
  transition: all ease-in-out 1s;
}

.submit:hover {
  opacity: 1;
  background: var(--textBlue);
}
