@use "@lib/packages/design-tokens/breakpoint" as b;

.container {
  display: flex;
}

.image_container {
  position: absolute;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.not_available_on_phone {
  background-color: #c73e1d;
  background-image: linear-gradient(
    315deg,
    #c73e1d 0%,
    #a23b72 37%,
    #2e86ab 100%
  );
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .h1 {
    color: darkorange;
    flex: 0.1;
  }

  .p {
    flex: 0.7;
    color: #fff;
    font-size: xx-large;
    text-align: center;
    padding: 2rem;
  }

  .anchor {
    all: unset;
    cursor: pointer;
    margin-top: 1rem;
  }
}

.main {
  flex: 1;
  display: none;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.username_container {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  color: #fff;
  .username_des {
    .username {
      color: #ff013c;
    }
  }
}

.button_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18rem;
  width: 25rem;
}

.authentication_container {
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
}

.h1,
.text {
  color: #ff013c;
  font-weight: 900;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

.danger {
  color: #ff013c;
}

.logout_buttons {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@include b.breakpoint(desktop) {
  .not_available_on_phone {
    display: none;
  }

  .main {
    display: flex;
  }
}
